<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1><strong>Pictus</strong></h1>
            <hr>
            <div class="paragraph-content">

            <h2><strong>v0.6</strong></h2>

            <p>Pictus is a whiteboarding app that lets you and your collaborators draw and share on a canvas in realtime,
            as well as store them for later retrieval.</p>

            <p>The draw button toggles between free draw mode and item manipulation mode. Alternatively, hold down shift to
            manipulate items and objects on the canvas.</p>

            <p>Delete objects and items by first selecting them and then pressing the 'delete' or 'backspace' key.</p>

            <p>Clear the canvas and reset it to a blank slate with the (X) button on the right side of the control dock.</p>

            <h2><strong>The Tech Stack</strong></h2>

            <p>Pictus uses HTML5 Canvas to render the drawing area. A Node.js and Express server connects the different users via websockets to
            provide real time updates. A MongoDB database saves each canvas state and associates them with users.</p>

            <p>Other major libraries used: Socket.io, Fabric.js, Mongoose, Passport.js</p>

            <p>See the code <a target="_blank" href="https://github.com/ken-zhong/pictus">here &nbsp;<img src="/images/gitMark.png"></a></p>

            <p>Report any issues <a target="_blank" href="https://github.com/ken-zhong/pictus/issues">here</a></p>

            <h3><strong>Credits</strong></h3>
            <div id="credits-text">
                <p>Splash picture by Nik MacMillan on <a href="https://unsplash.com/photos/UmWW77lYEcA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
                <p>Favicon icon made by <a target="_blank" href="http://www.freepik.com/">Freepik</a> from <a target="_blank" href="http://www.flaticon.com">www.flaticon.com</a></p>
            </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
