<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1><strong>Pictus</strong></h1>
            <hr>
            <div class="paragraph-content">
                
            <p><strong>v0.3</strong></p>
                
            <p>Pictus is a real time whiteboarding app that lets you and your collaborators </p>
            
            
            <h2><strong>The Tech Stack</strong></h2>
            
            <p>Pictus uses HTML5 Canvas to render the drawing area. A Node.js and Express server connects the different users via websockets to
            provide real time updates. A MongoDB database saves each canvas state and associates them with users.</p>
            
            <p>Other major libraries used: Socket.io, Fabric.js, Mongoose, Passport.js</p>
             
            <p>See the code <a target="_blank" href="https://github.com/ken-zhong/pictus">here &nbsp;<img src="/images/gitMark.png"></a></p>
            
            </div>
        </div>
    </div>   
</div>

<% include partials/footer %>