<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="description" content="Pictus is a simple and easy to use real time collaborative whiteboard app.">
  	<meta name="author" content"Ken Zhong">
  	<meta name="keywords" content="HTML, CSS, JavaScript, web development, canvas, whiteboard, collaborative draw">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="/images/favicon.png"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.16/fabric.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <title>Pictus</title>
  </head>


  <body>
    <canvas id="draw" width="1920px" height="1080px"></canvas>
    
    <div class="control-box">
      <button class="control-btn color-btn" type="button" value="black" id="brush-black"></button>
      <button class="control-btn color-btn" type="button" value="red" id="brush-red"></button>
      <button class="control-btn color-btn" type="button" value="green" id="brush-green"></button>
      <button class="control-btn color-btn" type="button" value="blue" id="brush-blue" ></button>
      <button class="control-btn color-btn" type="button" value="orange" id="brush-orange"></button>
      <button class="control-btn color-btn" type="button" value="purple" id="brush-purple"></button>
      <button class="control-btn color-btn" type="button" value="gray" id="brush-gray"></button>
      <button class="control-btn color-btn" type="button" value="teal" id="brush-teal"></button>
      <button class="control-btn color-btn" type="button" value="pink" id="brush-pink"></button>
      <button class="control-btn" type="button" id="brush-eraser-btn"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></button>
      <button class="control-btn" type="button" id="draw-mode-btn">Draw</button>
      <button class="control-btn" type="button" data-toggle="modal" data-target="#tokenModal">Token</button>
      <div class="btn-group dropup">
        <button type="button" class="dropdown-toggle control-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li>add stuff here</li>
          <li>add stuff here</li>
          <li><button class="btn btn-default" id="clear-paths-btn">Clear free drawings</button></li>
        </ul>
      </div>
      <button class="control-btn pull-right" id="reset-canvas-btn"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
    </div>

    <!-- Token creation modal -->
    <div class="modal fade" id="tokenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create your token:</h4>
          </div>
          <div class="modal-body">
            <input type="text" name="initials" placeholder="initials (up to 2 characters)" id="tokenName">
            <select id="tokenColor">
              <option>--Color--</option>
              <option value="black" >black</option>
              <option value="red" >red</option>
              <option value="green" >green</option>
              <option value="blue" >blue</option>
              <option value="orange" >orange</option>
              <option value="gray" >gray</option>
              <option value="pink" >pink</option>
              <option value="teal" >teal</option>
              <option value="gold" >gold</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="tokenCreate" data-dismiss="modal">Create!</button>
          </div>
        </div>
      </div>
    </div>


  </body>

  <script src="/whiteboardClient.js"></script>
</html>