body{
	padding-top: 70px;
}

h1{
	text-align: center;
}

.navbar-brand {
	font-size: 26px;
}

.auth-form{
	width: 30%; 
	margin: 30px auto;
}

.welcome-message{
	cursor: default;
}

.paragraph-content p{
	font-size: 22px;
}

.modal{
	margin-top: 10%;
}

#credits-text p{
	font-size: 14px;
}